.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #eee;
  }
  
  .btn-upload {
    margin-left: 50px;
    background-color: #51cbce !important;
    visibility: visible !important;
  }
  .btn-upload:hover {
    
    background-color: red !important;
    visibility: visible !important;
  }
  .file-name {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
.my-button-class {
  background-color: #51cbce!important;
 
  /* Other styles as needed */
}
.my-button-class:hover {
  background-color: red !important;
 
  /* Other styles as needed */
}
.react-select {
  width:100px !important; /* adjust this value to the desired width */
  margin-right:30px;
  margin-left: 30px;

 
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  /* Add styles for medium screens */
  .top-left {
    position: relative;
  }
  .pagination-top {
    position: absolute;
    top: 0;
    margin-left: 300px;
  }
}

@media screen and (max-width: 700px) {
  /* Add styles for smaller screens */
  .top-left {
    position: relative;
  }
  .pagination-top {
    position: absolute;
    top: 0;
    margin-left: 500px;
  }
}

.popup {
  width:500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.form-group-col {
  display: inline-block;
  width: 45%; /* adjust as needed */
  margin-right: 5%; /* adjust as needed */
  vertical-align: top;
}